body {
   background-color: #eaf6f6;
}

hr {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
}

h1 {
   color: #66bfbf;
}

h3 {
   color: #66bfbf;
}